
.bg-primario {
    background-color: #511f4b;
}
.bg-footer {
    background-color:black;
}
.size{
    background-size:cover;
}
.embed-responsive .card-img-top {
    object-fit: cover;
}
.colortext{
    color:black;
   font-family:Arial, Helvetica, sans-serif;
   font-size:medium;
}
.bg-pagina {
    background-color:aliceblue;
}
.fondo{
    position:relative;
    bottom:0;
    right: 0;
    left:0;
    
}
.alto{
    max-height:100%;  
    background-position:left;
    background-size:cover
}
body{
    margin-top:0;
}
.ImagenLogin{
    width:40%;
    height:600px;
}